/* CSS Document */
@charset "utf-8"

html, body {
	margin: 0;
	padding: 0;
}

body {
	background-color:#333;
	font: bold, medium;
	font-family: "Arial Black", Gadget, sans-serif;
	color:#333;
}

#calc {
	max-width: 300px;
	min-height: 400px;
	margin: 0 auto;
}

#calcTela {
	width: 100%;
	height: 150px;
	background-color: #F2F2F2;
	text-align:right;
}
#calcTela .telaEq {
	width: 280px;
	height: 45px;
	padding: 10px;
}
#calcTela .telaNum {
	width: 280px;
	height: 65px;
	padding: 10px;
	line-height: 65px;
	font-size: 48px;
}
	
#calcTeclado {
	background-color: #F2F2F2;
}
#calcTeclado .btNum {
	width: 75px;
	height: 50px;
	float: left;
	display: block;
	text-align:center;
	line-height: 50px;
}
#calcTeclado .btSinal {
	width: 75px;
	height: 50px;
	float: left;
	display: block;
	text-align:center;
	line-height: 50px;
}
#calcTeclado .btNum a {
	width: 100%;
	height: 100%;
	color:#333;
	display: inline-block;
	text-align:center;
	text-decoration: none;
}
#calcTeclado .btNum a:hover {
	color: #FFF;
}
#calcTeclado .btIgual {
	height: 100px;
	line-height: 100px;
}	
#calcTeclado .btIgual:hover {
	background-color: #744DA9;
	color: #FFF;
}
#calcTeclado .btNum:hover {
	background-color: #4D68AA;
	color: #FFF;
}

#calcTeclado .tecladoSinaisSup {
	width: 100%;
	height: 50px;
	background-color: #F2F2F2;
	border-top: thin solid #DADADA;
}
#calcTeclado .tecladoSinaisLat, #calcTeclado .tecladoNum {
	background-color: #E6E6E6;
}
#calcTeclado .tecladoSinaisLat {
	width: 75px;
	height: 200px;
	float: right;
}
#calcTeclado .tecladoNum {
	width: 225px;
	height: 200px;
}
.super{
	font-size: 32px;
}